:root {
    --azulclaro: #22396B;
    --azulmedio: #16284F ;
    --azuloscuro: #222E46 ;
    --amarillo: #F9BE3D;
    --negro: #000000;
    --blanco:#FFFFFF;
}

body{
    background-color: var(--azulclaro);
}

.top-bar__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-container {
  display: flex;
  align-items: center;
  background: var(--azulclaro);
  padding: 10px;
}

.clubatletico {
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.sponsors {
  display: flex;
  gap: 15px;
  margin-left: auto; /* empuja todo a la derecha */
}

.sponsors img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.sponsors a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.9;
  white-space: nowrap;
  width: 60px;
}



